.header {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "astro", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--main);
    font-size: 700%;
}

.hamburger {
    position: absolute;
    display: block;
    margin: 5px;
    width: 35px;
    cursor: pointer;
    background: black;
    border: none;
}

.hamburger .bar, .hamburger:before, .hamburger:after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--main);
    border-radius: 25%;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(45deg) translate(6px, 10px);
}

.hamburger.is-active:after {
    transform: rotate(-45deg) translate(5px, -9px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

