.header {
    position: relative;
    background-color: black;
    z-index: 100;
    top: 0px;
    height: 135px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "astro", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--main);
    font-size: 700%;
    margin-top: -25px;
    margin-bottom: -15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.ctaHead {
    position: fixed;
    margin: 5px;
    top: -37px;
    left: 0px;
}

@media only screen and (min-width: 600px) {
    .ctaHead {
        display: none;
    }
}