a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.navRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linkD {
    color: var(--light);
    width: 100%;
    background-color: rgb(132, 201, 132, .8);
    text-align: center;
    flex: column;
}

.linkD:hover {
    background-color:rgb(132, 201, 132, .4);
}

@media only screen and (max-width: 600px) {
    .navRow {
        display: none;
    }
}