@property --gradient-angle {
    /* houdini and the @property giving more info to the browser about the custom property, by registering a custom property the browser can know whether or not it is animatable property */
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.portfolio {
    display: flex;
    width: min(95%, 1125px);
    margin: 2% auto;
}

.card {
    color: grey;
    height: 60svh;
    background: black;
    border-radius: 0.5rem;
    position: relative;
    padding: 2.5%;
    margin-top: 5svh;
}

.card::before, .card::after {
    content: "";
    position: absolute;
    margin: 5vh;
    inset: -2.2rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--dark),
        var(--mid),
        var(--bright),
        var(--mid),
        var(--dark));
    border-radius: inherit;
    animation: rotation 12s linear infinite;
}

.card::after {
    filter: blur(.5rem);
}

.head {
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
    height: 10svh;
}

.title {
    margin: auto;
    color: var(--secondary)
}

.link {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.link:hover {
    filter: invert(75%);
}

.link-byte {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.projects {
    width: 60%;
    margin-right: 5%;
}

.small-bytes {
    width: 35%;
}

.small-bytes .card::after {
    animation: rotation 8s reverse linear infinite;
}

.peak {
    display: flex;
    margin: auto;
    width: min(100%, 350px);
    height: min(300px, 100%);
    border-radius: 2%;
    opacity: 30%;
}

.info {
    height: 47svh;
}

.small-bytes .description {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5%;
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-size: clamp(.7rem, 2vw, .8rem);
}

.tech {
    align-self: last baseline;
    font-size: 10px;
    color: var(--tertiary);
    height: 3svh;
}

@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

/* hover filter effects*/
.filter {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-content: center;
}

.screenshot {
    width: 85%;
    margin: auto;
    border-radius: 2%;
}

.filter .screenshot{
    filter: grayscale(0);
    transform: scale(.9, .9);
    transition: 1.5s ease-in-out;
}

.filter:hover .screenshot{
    filter: hue-rotate(180deg);
    transform: scale(1, 1);
    transition: 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .portfolio {
        display: block;
        width: 85%;
    }

    .projects {
        width: auto;
        margin: auto;
    }

    .small-bytes {
        width: auto;
        margin-top: 5%;
    }
}