.banner {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    animation: scroll 7s reverse linear;
    margin-bottom: 30px;
}

.size {
    height: 35px;
    width: 35px;
}

.tech {
    display: block;
    align-content: center;
}

.text {
    width: 35px;
    text-align: center;
    color: rgb(125, 125, 125);
    font-size: 12px;
}

.adjust {
    margin-left: -15px;
}

@keyframes scroll {
    from   { transform: translate(0%); }
    to { transform: translate(80%); }
}

@media only screen and (max-width: 450px) {
    .text {
        display: none;
    }
}