.banner {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    animation: scroll 10s reverse linear;
    margin-bottom: 30px;
}

.tech-logo {
    height: 35px;
}

.row {
    display: block;
    align-content: center;
}

.small {
    width: 100%;
    text-align: center;
    color: rgb(125, 125, 125);
    font-size: 12px;
}

@keyframes scroll {
    from   { transform: translate(0%); }
    to { transform: translate(80%); }
}