.main {
    display: flex;
    width: min(100%, 1150px);
    margin-inline: auto;
    border-radius: 1%;
}

.background {
    width: 100%;
}

.current {
    display: grid;
    grid-template-columns: [left] 10% [mid] 80% [right] 10%;
    width: 50%;
    border: solid 1px green;
    margin: 2.5%;
    border-radius: 1%;
    min-height: 300px;
    background-color: rgb(236, 255, 236);
}

.ledge, .redge {
    border: dotted black;
    border-width: 0 2px 0 0;
    display: grid;
    align-content: space-evenly;
}

.redge {
    border-width: 0 0 0 2px;
}

.mid header {
    font-family: "current";
    font-size: 90%;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.mid .body {
    color: black;
}
.hole {
    background-color: black;;
    z-index: 2;
    margin-inline: auto;
    width: 12px;
    height: 12px;
    border: solid 1px black;
    border-radius: 50%;
}

.body {
    color: whitesmoke;
}

.current {
    color: black;
    box-shadow: 5px 5px 5px gray;
}

.mid .body {
    margin: 5%;
}

.bio {
    display: column;
    justify-content: flex-end;
    width:50%;
    margin: 15px;
}

.photo {
    width: 50%;
    border-radius: 40%;
    float: right;
    animation: glow 1.5s infinite alternate;
}

.resume {
    color: rgb(132, 201, 132);
    text-decoration: underline;
}

.resume:hover {
    color: white;
}

.look {
    opacity: 50%;
    border-radius: 5%;
    margin: 10px 0;
    width: 100%;
}

.spotlight {
    color: rgb(132, 201, 132);
}

@keyframes glow {
    100% {
      box-shadow:
      0 0 2px #fff,
      0 0 6px #fff,
      0 0 10px rgb(84, 179, 26),
      0 0 20px rgb(72, 86, 18),
      0 0 40px rgb(70, 79, 37),
      0 0 45px rgb(70, 79, 37)     
    }
    
    0% {
      box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px rgb(84, 179, 26),
      0 0 5px rgb(72, 86, 18),
      0 0 22px rgb(70, 79, 37),
      0 0 27px rgb(70, 79, 37)    
    }
}

@media only screen and (max-width: 600px) {
    .main {
        display: block;
        width: 85%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .current {
        width: auto;
    }

    .bio {
        width: auto;
    }
}