.main {
    display: flex;
    width: min(100%, 1150px);
    margin-inline: auto;
    border-radius: 1%;
}

.background {
    width: 100%;
}

.current {
    display: grid;
    grid-template-columns: [left] 10% [mid] 80% [right] 10%;
    width: 50%;
    margin: 2.5%;
    border-radius: 1%;
    min-height: 300px;
    background-color: var(--light);
}

.ledge, .redge {
    border: dotted black;
    border-width: 0 2px 0 0;
    display: grid;
    align-content: space-evenly;
}

.redge {
    border-width: 0 0 0 2px;
}

.mid header {
    font-family: "current";
    font-size: 90%;
    text-align: center;
    padding-top: 10px;
    color: var(--dark);
}

.mid .body {
    color: black;
}
.hole {
    background-color: black;
    z-index: 2;
    margin-inline: auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.body {
    color: whitesmoke;
    line-height: 1.75em;
}

.current {
    color: black;
    box-shadow: 5px 5px 5px rgb(135, 155, 135);
}

.mid .body {
    margin: 5%;
}

.bio {
    display: column;
    justify-content: flex-end;
    width:50%;
    margin: 15px;
    margin-top: 25px;
}

.photo {
    width: 50%;
    border-radius: 40%;
    float: right;
    animation: glow 1.5s infinite alternate;
    margin-bottom: 5px;
}

.resume {
    color: var(--spotlight);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.resume:hover {
    color: var(--secondary);
}

.look {
    opacity: 50%;
    border-radius: 5%;
    margin: 10px 0;
    width: 100%;
}

.spotlight {
    color: var(--spotlight);
}

.cta {
    color: var(--spotlight);
    border-style: solid;
    text-decoration: none;
    border-radius: 15%;
    padding: 2px;
    white-space: nowrap;
}

.cta:hover {
    color: var(--secondary);
}

.alternative {
    color: var(--spotlight);
    border-style: solid;
    text-decoration: none;
    border-radius: 15%;
    padding: 2px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.082);
}

.blurb {
    font-size: 77%;
}

.updateContainer {
    display: flex;
    justify-content: end;
    width: 100%;
}

.update {
    font-size: 66%;
    margin-right: 10px;
}

.alternative:hover {
    color: var(--secondary);
}

@keyframes glow {
    100% {
      box-shadow:
      0 0 2px #fff,
      0 0 6px #fff,
      0 0 10px var(--secondary),
      0 0 20px var(--main),
      0 0 40px var(--dark)     
    }
    
    0% {
      box-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px var(--secondary),
      0 0 5px var(--main),
      0 0 22px var(--dark)    
    }
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column-reverse;
        width: 85%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .current {
        width: auto;
    }

    .bio {
        width: auto;
    }
}