:root {
    --spotlight: rgb(132, 201, 132);
    --light: rgb(235, 255, 235);
    --dark: rgb(0, 65, 0);
    --main: green;
    --mid: rgb(84, 179, 26);
    --bright: rgb(132, 204, 44);
    --secondary: rgb(143, 140, 42);
    --tertiary: rgb(227, 227, 189);
}

@font-face {
    font-family: "digital";
    font-weight: 500;
    src: local("Orbitron"),
        url("./fonts/Orbitron.ttf") format("truetype");
}

@font-face {
    font-family: "astro";
    src: local("ASTRII__"),
        url("./fonts/ASTRII__.TTF") format("truetype");
}

@font-face {
    font-family: "current";
    src: local("AGoblinAppears-o2aV"),
        url("./fonts/AGoblinAppears-o2aV.ttf") format("truetype");
}

@font-face {
    font-family: "moonl";
    src: local("Moon Light"),
        url("./fonts/Moon Light.otf") format("opentype");
}

html {
    scroll-padding-top: 135px;
}

body {
    background: #000000;
    overflow-x: hidden;
    font-family: 'Consolas', 'Courier New', 'monospace';
}

.content {
    padding-top: 135px;
}

header { 
    color: var(--main);
    font-family: "digital";
    font-size: 150%;
}