.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: gray;
    text-underline-offset: 5px;
    font-family: 'moonl', 'Consolas', 'Courier New', 'monospace';
}

a:hover {
    color: var(--secondary);
}

.name {
    font-family: "astro", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--main);
    font-size: 120px;
    margin: -10px 15px 0px 5px;
}